<div class="page page-invoices">

  <div class="contentBox">
    <h3 class="contentBoxTop">매출입력</h3>

    <br/>
    <div class="container" *ngIf="invoice">
        {{invoice.in_date}}, {{invoice.invoice}}<br/>
        {{invoice.seller}}, {{invoice.deal_type}} <br/>
        <b>{{invoice.item}}</b>, {{invoice.origin}}, {{invoice.uint}}, {{invoice.quality}}, {{invoice.weight}}<br/>          
        {{invoice.in_number | number}}, {{invoice.out_number | number}}, {{invoice.out_sum | number}}<br/>  

        <hr/>
         
        <table>  
            <ng-container  *ngFor="let unstoring of invoice.unstoring; trackBy: trackElement ">
            <tr>  
                <td width="25%">{{unstoring.outDate}}</td>
                <td width="10%" class="text-right">{{unstoring.outNumber | number}}&nbsp;</td>
                <td width="25%" class="text-right">{{unstoring.outSum | number}}&nbsp;</td>
                <td width="40%">{{unstoring.outPurchase}}</td>
            </tr>            
            </ng-container>
        </table>
    </div> 
    <br/>
    <!-- 매출일 OutDate, 매출수량 OutNumber, 매출 금액 OutSum, 매출처 OutPurchase -->
    <!-- Card container that binds all togather -->  
  <mat-card>  
    <!-- Actual content starts from here -->  
    <mat-card-content>  
      <form [formGroup]="theForm" (ngSubmit)="onFormSubmit(theForm)">  
          <table>  
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="outDate" matInput [matDatepicker]="picker" placeholder="" [(ngModel)]="mydate">  
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                          <mat-datepicker #picker></mat-datepicker>  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!theForm.get('outDate').valid && theForm.get('outDate').touched">날짜를 선택하세요!</span>  
                      </mat-error>  
                  </td>  
              </tr> 
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="outNumber" matInput placeholder="판매수량">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!theForm.get('outNumber').valid && theForm.get('outNumber').touched">판매수량(숫자만)을 입력하세요!!!</span>  
                      </mat-error>  
                  </td> 
              </tr>
              <tr> 
                  <td>  
                      <mat-form-field class="demo-full-width">
                          <input formControlName="outSum" matInput placeholder="판매금액" >  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!theForm.get('outSum').valid && theForm.get('outSum').touched">판매금액(숫자만)을 입력하세요!!!</span>  
                      </mat-error>  
                  </td>  
              </tr>  
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="outPurchase" matInput placeholder="판매처" >
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!theForm.get('outPurchase').valid && theForm.get('outPurchase').touched">판매처를 입력하세요!!!</span>  
                      </mat-error>  
                  </td>  
              </tr>  
               
              <tr>  
                  <td class="content-center">  
                      <button mat-raised-button color="accent" [disabled]="!theForm.valid">저장</button>  
                  </td>  
              </tr>  
              <tr>  
                  <td></td>  
              </tr>  
          </table>  
      </form>  

    </mat-card-content>  
  </mat-card>  
    
</div>
   