<div class="page page-invoices">

  <div class="contentBox">
    <h3 class="contentBoxTop">송품장 - 재고보기</h3>    
   
    <div class="top5 bottom5">
      <a [routerLink]="['/','invoices']" class="btn btn-warning btn-sm">재고 보기</a>&nbsp;
      <a [routerLink]="['/','invoices','all']" class="btn btn-primary btn-sm">전체 보기</a>      
    </div>

    <!-- <input matInput [matDatepicker]="picker" placeholder="" [(ngModel)]="mydate" (ngModelChange)="anotherDay()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker> -->
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="100%">반입일자, 송장번호 <br/>
              출하자, 거래형태<br/>
              품종, 원산지, 거래단량, 등급, 반입중량 <br/>
              입고수량, 출고수량, 매출금액
          </th>
          <th></th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let invoice of invoices; let i = index;" >
        <tr>
          <td>
            {{invoice.in_date}}, {{invoice.invoice}}<br/>
            {{invoice.seller}}, {{invoice.deal_type}} <br/>
            {{invoice.item}}, {{invoice.origin}}, {{invoice.uint}}, {{invoice.quality}}, {{invoice.weight}}<br/>          
            <b>{{invoice.in_number | number}}, {{invoice.out_number | number}}, {{invoice.out_sum | number}}</b>
          </td>
          <ng-container *ngIf = "invoices[i].in_number !== invoices[i].out_number" >
            <td>
                <a [routerLink]="['/unstoring']" [queryParams]="{ id : invoice._id }" class="btn btn-default">선택</a>
            </td>
            </ng-container>
            <ng-container *ngIf = "invoices[i].in_number === invoices[i].out_number" >
              <td></td>
            </ng-container>
          <!--               
          <td>
              <a [routerLink]="['/unstoring']" [queryParams]="{ id : invoice._id }" class="btn btn-default">선택</a>
          </td> -->
        </tr>
        <ng-container *ngIf = "i < invoices.length-1 && invoices[i].invoice !== invoices[i+1].invoice" >
          <tr>
            <td colspan="2">매수금액: <b>{{invoice.in_sum | number}}</b> &nbsp; 매출금액: <b>{{ getTotalSum(invoice.invoice) | number}}</b> </td>
          </tr>
        </ng-container>
        <ng-container *ngIf = "i === invoices.length-1" >
            <tr>
              <td colspan="2">매수금액: <b>{{invoice.in_sum | number}}</b> &nbsp; 매출금액: <b>{{ getTotalSum(invoice.invoice) | number}}</b> </td>
            </tr>
          </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div>  
</div>