<div class="page page-invoices">

  <div class="contentBox">
    <h3 class="contentBoxTop">송품장 - 재고보기</h3>    
   
    <div class="top5 bottom5">
      <a [routerLink]="['/','invoices']" class="btn btn-warning btn-sm">재고 보기</a>&nbsp;
      <a [routerLink]="['/','invoices','all']" class="btn btn-primary btn-sm">전체 보기</a>      
    </div>

    <!-- <input matInput [matDatepicker]="picker" placeholder="" [(ngModel)]="mydate" (ngModelChange)="anotherDay()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker> -->
    
    <table class="table table-bordered">
      <thead>
        <tr style="background-color: #eeeeee;">
          <th colspan="5" width="100%">반입일자, 송장번호, 품종 <br/>
              출하자, 거래형태, 원산지, 거래단량, 등급, 반입중량
          </th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let invoice of invoices; let i = index;" >
         <ng-container *ngIf="getTotalStock(invoice.invoice) > 0">
          <tr>
            <td colspan="4">
              {{invoice.in_date}}, <b>{{invoice.invoice}}</b>, {{invoice.item}}<br/>
              {{invoice.seller}}, {{invoice.deal_type}}, {{invoice.origin}}, {{invoice.unit}}, {{invoice.quality}}, {{invoice.weight}}<br/>          
              반입: <b>{{invoice.in_number | number}}</b> 판매: <b>{{invoice.out_number | number}}</b> 
              재고: <span style='color:blue'><b>{{invoice.in_number - invoice.out_number | number}}</b></span>
            </td>
            <ng-container *ngIf = "invoices[i].in_number !== invoices[i].out_number" >
              <td>
                  <a [routerLink]="['/unstoring']" [queryParams]="{ id : invoice._id }" class="btn btn-default">선택</a>
              </td>
              </ng-container>
              <ng-container *ngIf = "invoices[i].in_number === invoices[i].out_number" >
                <td></td>
              </ng-container>
            <!--               
            <td>
                <a [routerLink]="['/unstoring']" [queryParams]="{ id : invoice._id }" class="btn btn-default">선택</a>
            </td> -->
          </tr>
          <ng-container  *ngFor="let unstoring of invoice.unstoring">
          <tr>  
              <td width="30%">{{unstoring.outDate}}</td>
              <td width="10%" class="text-right">{{unstoring.outNumber | number}}&nbsp;</td>
              <td width="20%" class="text-right">{{unstoring.outPrice | number}}&nbsp;</td>
              <td width="20%" class="text-right">{{unstoring.outSum | number}}&nbsp;</td>
              <td width="20%">{{unstoring.outPurchase}}</td>    
          </tr> 
          </ng-container>
          <ng-container *ngIf = "i < invoices.length-1 && invoices[i].invoice !== invoices[i+1].invoice" >
            <tr style="background-color: #eeeeee;">
              <td class="text-right" colspan="5">매수금액: <b>{{invoice.in_sum | number}}</b> &nbsp; 매출금액: <b>{{ getTotalSum(invoice.invoice) | number}}</b> </td>
            </tr>
          </ng-container>
          <ng-container *ngIf = "i === invoices.length-1" >
            <tr style="background-color: #eeeeee;">
              <td class="text-right" colspan="5">매수금액: <b>{{invoice.in_sum | number}}</b> &nbsp; 매출금액: <b>{{ getTotalSum(invoice.invoice) | number}}</b> </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div>  
</div>